{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}IMDb{% endblock %}</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
<div class="nav">
    <div class="nav-link"><a href="{% url 'homepage:homepage' %}">Homepage</a></div>
    <div class="nav-link"><a href="{% url 'movie:movie_list' %}">Movies</a></div>
    <form method="get" action="{% url 'movie:movie_search' %}" accept-charset="UTF-8">
        {{ search_form }}
        <button type="submit" value="Submit">
            <i class="fa fa-search"></i>
        </button>
    </form>
    <div class="nav-link" id="about"><a href="">About</a></div>
</div>
{% block content %}{% endblock %}
</body>
</html>